$bgColor: #FFEED9;
$linkColor: #594F43;
$textColor: #403930;

$sectionBGColor: #FFDDBF80;

$btnBGColor: #4E5E80;
$btnOulinedColor: #4D5566;

$msgColor: #FFDDBF;

$defaultTransition: all 0.5s;

@keyframes rotateEmoji {
    0% {
        transform: rotate(-40deg);
    }
    50% {
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(-40deg);
    }
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: $bgColor;
    margin: 0;
    font-family: 'Eczar', serif;
    font-family: 'Work Sans', sans-serif;
    height: 100%;
    width: 100%;
}

.container {
    margin: 0 5%;
}
.navbar-menu {
    padding: 1rem;
    & a {
        text-decoration: none;
        color: $linkColor;
        margin: 0 5px;
        font-weight: 500;
        font-size: 20px;
        transition: $defaultTransition;
        position: relative;
        overflow: hidden;

        &::after {
            content: " ";
            position: absolute;
            width: 0%;
            background-color: $textColor;
            height: 3px;
            bottom: -2px;
            left: 0;
            transition: $defaultTransition;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}
.hello-msg {
    font-size: 24px;
    padding: 12px 24px;
    border-radius: 10px;
    background-color: $msgColor;
    color: $textColor;
    font-weight: 500;
    display: block;
    width: fit-content;
}
.btn {
    display: inline;
    text-decoration: none;
    border-radius: 16px;
    padding: 24px 40px;
    margin-right: 10px;
    transition: $defaultTransition;
    &:hover {
        transform: translateY(-6px);
    }
    
    &__btn {
        color: white;
        background-color: $btnBGColor;
    }
    &__btn-outlined {
        color: $btnOulinedColor;
        border: 4px solid $btnOulinedColor;
        box-sizing: border-box;
        transition: $defaultTransition;
        padding: 20px 40px !important;
        &:hover {
            
            color: white;
            background-color: $btnOulinedColor;
            
        }
    }
}
.banner-about {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 600px;
    }
    &--button-list {
        display: flex;

        & a {
            display: inline;
            text-decoration: none;
            border-radius: 16px;
            padding: 24px 40px;
            margin-right: 10px;
            transition: $defaultTransition;
            &:hover {
                transform: translateY(-6px);
            }
        }
        &__btn {
            color: white;
            background-color: $btnBGColor;
        }
        &__btn-outlined {
            color: $btnOulinedColor;
            border: 4px solid $btnOulinedColor;
            box-sizing: border-box;
            transition: $defaultTransition;
            padding: 20px 40px !important;
            &:hover {
                
                color: white;
                background-color: $btnOulinedColor;
                
            }
        }

    }
}
.about-msg {
    color: $textColor;
    font-family: 'Eczar';
    font-weight: 600;
    font-size: 50px;
}

.section {
    margin-top: -1.5rem;
    padding-bottom: 1.5rem;
}
.work {

    background-color: $sectionBGColor;
    & h2 {
        font-family: 'Eczar';
        padding-top: 4rem;
        padding-bottom: 1.6rem;
        color: $textColor;
        font-weight: 500px;
        font-size: 37px;
    }
}
.show-card {
    & > div {
        margin-bottom: 1.5rem;
    }
}
.card {
    background-color: white;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    &--content {
        padding: 5rem;
    }
    &__title {
        font-weight: 500;
        font-size: 26px;
        color: $textColor
    }
    &__text {
        font-size: 20px;
        color: $textColor
    }
    &__link {
        text-decoration: none;
        color: $btnBGColor;
        font-weight: 600;
        font-size: 20px;
        position: relative;
        &::after {
            content: " ";
            position: absolute;
            width: 0%;
            background-color: $btnBGColor;
            height: 3px;
            bottom: -4px;
            left: 0;
            transition: $defaultTransition;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
    &--img {
        width: 100%;
        height: 350px;
        overflow: hidden;
        img {
            height: 100%;
            object-fit: cover;
            transition: $defaultTransition;
            float: right;
            transform: scale(1.5);
        }
    }
    &:hover {
        .card--img {
            img {
                transform: scale(1);
            }
        }
    }
}
.something {
    &--topic {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            font-family: 'Eczar';
            color: $textColor;
            font-size: 34px;
            margin-bottom: 0;
        }
        p {
            margin-top: 4px;
            color: $linkColor;
            font-size: 20px;
        }
    }
    &--context {
        padding: 2rem;
        color: $linkColor;
        display: flex;
        padding-top: 0px;
    }
    .context {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        text-align: center;
        p:first-child {
            font-size: 18px;
        }
        p:last-child {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.about-me {
    display: flex;
    &--section-1 {
        p {
            font-size: 20px;
            padding-bottom: 20px;
        }
    }
}
.footer {
    padding: 4rem;
    h1 {
        font-family: 'Eczar';
        color: $textColor;
        font-size: 58px;
    }
    &--social {
        float:right;
        & a img{
            width: 40px;
            height: 40px;
            margin-right: 10px;
            transition: $defaultTransition;
            filter: hue-rotate(180deg);
            &:hover {
                filter: hue-rotate(0deg);
                transform: translateY(-6px);
            }
        }
    }
}
.to-top {
    position:fixed;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    text-decoration: none;
    color: white;
    background-color: $btnBGColor;
    border-radius: 16px;
    transition: $defaultTransition;
    &:hover {
        transform: translateY(-6px);
    }
}

@media only screen and (max-width: 700px) {
    .navbar-menu {
        position: fixed;
        bottom: -1px;
        z-index: 2;
        left: 0;
        padding: 0;
        display: flex;
        width: 100%;
        background-color: $textColor;
        justify-content: space-between;
        border-radius: 2rem 2rem 0 0;
        overflow: hidden;
        & a {
            font-size: 16px;
            padding: 1.4rem 1rem;
            color: white;
        }
    }
    .about-msg {
        font-size: 40px;
    }
    .banner-about {
        position: relative;
        img {
            height: 400px;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
            opacity: 0.6;
            
        }
        &--button-list {
            & a {
                padding: 16px 30px;
            }
        }
    }
    .work {
        & h2 {
            font-size: 30px;
        }
    }
    .card {
        position: relative;
        &--content {
            z-index: 1;
        }
        &--img {
            img {
                position: absolute;
                left: 0;
                z-index: 0;
                opacity: 0.5;
            }
        }
    }
    .something {
        &--context {
            padding: 2rem;
            padding-top: 0px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            p:first-child {
                font-size: 18px;
            }
            p:last-child {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
    .about-me {
        position: relative;
        overflow: hidden;
        &--section-1 {
            z-index: 1;
            padding-bottom: 4rem;
            p {
                font-size: 20px;
                padding-bottom: 20px;
            }
        }
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 0;
            opacity: .4;
            width: 300px;
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 40px;
        }
        &--social {
            float:none;
            margin-top: 20px;
            & a img{
                width: 30px;
                height: 30px;
                margin-right: 10px;
                transition: $defaultTransition;
            }
        }
    }
    .to-top {
        display: none;
    }
}