<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./src/css/main.css">
    <title>Input</title>
</head>

<body>
    <div>
        <div class="content">
            <h1 class="topic-title">Input</h1>
            <p class="sub-title">Default</p>
            <div class="items">
                <div class="example block">
                    <div class="showcase">
                        <div class="s-form-input">
                            <input type="text" class="s-input" value="" placeholder="Search ...">
                        </div>
                        <span>Default</span>
                    </div>
                    <div class="showcase">
                        <div class="s-form-input">
                            <input type="text" class="s-input" value="" required>
                            <span class="s-input-placeholder">Search ...</span>
                        </div>
                        <span>With placeholder style</span>
                    </div>
                </div>
                <div class="code-example">
                    <h4>Code</h4>
                </div>
            </div>
            <p class="sub-title">Outlined</p>
            <div class="items">
                <div class="example block">
                    <div class="showcase ">
                        <div class="s-form-input">
                            <input type="text" class="s-input-outlined" value="" placeholder="Search ...">
                        </div>
                        <span>Default</span>
                    </div>
                    <div class="showcase ">
                        <div class="s-form-input">
                            <input type="text" class="s-input-outlined" value="" required>
                            <span class="s-input-placeholder">Search ...</span>
                        </div>
                        <span>With placeholder style</span>
                    </div>
                </div>
                <div class="code-example">
                    <h4>Code</h4>
                </div>
            </div>
            <p class="sub-title">Dropdown</p>
            <div class="items">
                <div class="example block">
                    <div class="showcase ">
                        <div class="s-form-input">
                            <select class="s-input">
                                <option value="">Example 1</option>
                                <option value="">Example 2</option>
                                <option value="">Example 3</option>
                            </select>
                        </div>
                        <span>Default</span>
                    </div>
                </div>
                <div class="code-example">
                    <h4>Code</h4>
                </div>
            </div>
        </div>

    </div>
</body>

</html>