<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./src/css/main.css">
    <title>Home</title>
</head>

<body>
    <div>
        <div class="content">
            <h1 class="topic-title">Button</h1>
            <p class="sub-title">Default</p>
            <div class="items">
                <div class="example">
                    <div class="showcase">
                        <button class="btn-d">Example</button>
                        <span>Default</span>
                    </div>
                </div>
                <div class="code-example">
                    <h4>Code</h4>
                    <!-- <xmp class="code">
                        <button class="btn-d">Example</button>
                    </xmp> -->
                </div>
            </div>
            <p class="sub-title">Button with colors</p>
            <div class="items">
                <div class="example">
                    <div class="showcase">
                        <button class="btn-d btn-d--primary">Example</button>
                        <span>Primary</span>
                    </div>
                    <div class="showcase">
                        <button class="btn-d btn-d--success">Example</button>
                        <span>Success</span>
                    </div>
                    <div class="showcase">
                        <button class="btn-d btn-d--warning">Example</button>
                        <span>Warning</span>
                    </div>
                    <div class="showcase">
                        <button class="btn-d btn-d--danger">Example</button>
                        <span>Danger</span>
                    </div>
                </div>
                <div class="code-example">
                    <h4>Code</h4>
                    <!-- <xmp class="code">
                    <button class="btn-d">Example</button>
                </xmp> -->
                </div>
            </div>
        </div>

    </div>
</body>

</html>