$defaultTransitionTime: all 0.5s;
$transitionTime: 0.5s;

$translateYHover: translateY(-6px);
$translateYActive: tranlateY(0px);

//colors
$dangerColor: #ff5252;
$dangerHoverColor: #fc3838; 

$primaryColor: #00bcd4;
$primaryHoverColor: #00acc2;

$secondaryColor: #ffc107;
$secondaryHoverColor: #ffb300;

$successColor: #4caf50;
$successHoverColor: #3d9b46;

$warningColor: #ff9800;
$warningHoverColor: #f57c00;


